@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

:root {
    --main-bg-color: #101820;
    --main-text-color: #F2AA4C;
    --text: #aaaaaa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    font-size: 21px;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-bg-color);
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: max-content;
    height: 100%;
    padding: 6rem 0.2rem 1rem 0.2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#error {
    position: absolute;
    color: rgb(167, 71, 71);
}

.moviePreview {
    width: 45vw;
    margin-bottom: 1rem;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.previewImage {
    border-radius: 5px;
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

.previewImage:hover {
    border: 2px solid white;
    cursor: pointer;
}


.loadingImg {
    position: absolute;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 10vh;
}

#search {
    position: absolute;
    border: 1px solid var(--text);
    color: var(--text);
    transition: top 0.65s ease-out;
    border-radius: 5px;
    width: 75%;
    text-align: center;
    font-size: 21px;
}

#search:focus {
    border: 1px solid #7570a1;
}

.centered {        
    top: 50%;
    left: 50%;
    transform: translateX(-50%);    
}

.search-top {
    top: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
}

input {
    padding: 1rem 0.5rem;
    background: none;
    border: none;
}

input:focus {
    border: none;
    outline: none;
}

.tmdb{
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 12px;
}

@media only screen and (min-width: 500px)
{
    
.moviePreview {
    width: 30vw;
}
}

@media only screen and (min-width: 900px)
{
    
.moviePreview {
    width: 20vw;
}
}

@media only screen and (min-width: 1300px)
{
    
.moviePreview {
    width: 18vw;
}
}

@media only screen and (min-width: 1300px)
{
    
.moviePreview {
    width: 15vw;
}
}